%width{
	width:100%;
};
%table{
	@extend %width;
	border-collapse:collapse; 
	border-spacing: 0; 
}
@mixin bg-color($bg-color){
	background-color:$bg-color;
}

@mixin setBorder($side,$line,$color,$direction){
	@if $direction{
		border-#{$direction}:$side $line $color;
	}@else{
		border:$side $line $color;
	}
}
@mixin wrap($wrap,$direction,$value1...){
	@if $direction{
		#{$wrap}-#{$direction}:$value1;
	}@else{
		#{$wrap}:$value1;
	}
}

@mixin height($height,$line-height){
	height:$height;
	line-height: $line-height; 
}
@mixin text($bold,$size,$family,$color,$align){
	font-weight:$bold;
	font-size:$size;
	font-family:$family;
	color:$color;
	text-align:$align;
}
@mixin box-shadow($shadow...){
	-webkit-box-shadow:$shadow;
	-moz-box-shadow:$shadow;
	box-shadow:$shadow; 
}

body{
	@include bg-color(#f7f7f7);
	@include wrap(padding,null,15px);
}

.main{
	@extend %width;	
	@include wrap(margin,bottom,15px);
	@include bg-color(#fff);
	@include box-shadow((0 3px 3px #ddd),inset 0 0 3px rgba(255,255,255,.5));
}

.title{
	@extend %width;
	@include height(45px,45px);
	@include text(bold,20px,SimSun,#fff,center);
	@include bg-color(#1584dd);
}

.table_info{
	@extend %table;
	thead{
	@include bg-color(#ebebeb);
	@include text(bold,18px,SimSun,#000,center);
	}
	th{
		@include wrap(padding,null,12px);
		@include setBorder(2px,solid,#ddd,null);
	}
	td{
		@extend th;
		@include text(null,16px,SimSun,#000,center);
	}
}







