%width{
	width:100%;
};
%table{
            @extend %width;
            border-collapse:collapse; 
            border-spacing: 0; 
}
@mixin bg-color($bg-color){
    background-color:$bg-color;
}

@mixin setBorder($side,$line,$color,$direction){
        @if $direction{
                border-#{$direction}:$side $line $color;
        }@else{
                border:$side $line $color;
        }
}
@mixin wrap($wrap,$direction,$value1...){
        @if $direction{
                 #{$wrap}-#{$direction}:$value1;
        }@else{
                #{$wrap}:$value1;
        }
}

@mixin height($height,$line-height){
    height:$height;
    line-height: $line-height; 
}
@mixin text($bold,$size,$family,$color,$align){
    font-weight:$bold;
    font-size:$size;
    font-family:$family;
    color:$color;
    text-align:$align;
}
@mixin box-shadow($shadow...){
    -webkit-box-shadow:$shadow;
    -moz-box-shadow:$shadow;
    box-shadow:$shadow; 
}

body{
    @include wrap(padding,null,15px);
}

.main{
	@extend %width;	
           @include wrap(margin,bottom,15px);
           @include bg-color(#fff);
	@include box-shadow((0 3px 3px #ddd),inset 0 0 3px rgba(255,255,255,.5));
}

.title{
	@extend %width;
           @include height(45px,45px);
           @include text(bold,20px,SimSun,#fff,center);
           @include bg-color(#1584dd);
}

.table_info{
            @extend %table;
            thead{
                @include bg-color(#ebebeb);
                @include text(bold,18px,SimSun,#000,center);
            }
            th{
                @include wrap(padding,null,12px);
                @include setBorder(2px,solid,#ddd,null);
            }
            td{
                @extend th;
                @include text(null,16px,SimSun,#000,center);
                
            }
}













$properties: (margin, padding);
@mixin set-value($side, $value) {
    @each $prop in $properties {
        #{$prop}-#{$side}: $value;
    }
}
.login-box {
    @include set-value(top, 14px);
}



$font:14px;
$width:300px;
$height:400px;
$border:#ddd;
.box{
	width:$width;
	height:$height;
	border:1px solid $border;
}

.btn {
  border: 1px solid #ccc;
  padding: 6px 10px;
  font-size: 14px;
}

.btn-primary {
  background-color: #f36;
  color: #fff;
  @extend.btn;
}

%mt5 {
  margin-top: 5px;
}
%pt5{
  padding-top: 5px;
}

.btn {
  @extend %mt5;
  @extend %pt5;
}

.block {
  @extend %mt5;

  span {
    @extend %pt5;
  }
}

header{
    nav{
        a{color:red;}
    }
}


$brand-primary : darken(#428bca, 6.5%) !default; // #337ab7
$btn-primary-color: #fff !default;
$btn-primary-bg : $brand-primary !default;
$btn-primary-border : darken($btn-primary-bg, 5%) !default;

.btn-primary {
   background-color: $btn-primary-bg;

   color: $btn-primary-color;
 
   border: 1px solid $btn-primary-border;  

}
   	

mt{
  margin-top: 5px;  
}


.box {
  @extend mt;
}

$list: twitter,facebook,github,weibo;

@for $i from 1 through length($list){
  .icon-#{nth($list,$i)}{
    background-postion: 0 -20px * $i;
  }
}

$col-width: 60px;
$col-gap: 20px;

@for $i from 1 through 12 {
    .col-#{$i}{
        width:$col-width+$col-gap;
    }
}