.excel{
    padding-top: 20px;
}
.excel .power{  margin:0px 50px 20px;  }
.excel .power .power-head{  height: 44px;background: #1A8AD8;z-index:10;position: relative;  }
.excel .power .power-head .power-head-tip{
    margin-left: 21px;
    color:#fff;font-size: 24px;
    font-family: 微软雅黑;
    line-height: 44px;
}
.excel .power .power-head .power-head-sel{
    display: inline-block;height: 100%;
    float: right;margin:0px 7px 0px 13px;
}
.excel .power .power-head .power-head-sel div{
    display: inline-block;
}
.excel .power .power-head .power-head-sel .sel-text{
    color:#fff;font-size: 22px;
    font-family: 微软雅黑;
    float:left;margin-top:7px;
}
.excel .power .power-head .power-head-sel .sel-box{
    float:left;margin-top:7px;
    width:110px;height: 30px;
    background: #fff;
}
.excel .power .power-head .power-head-sel .place{
    width: 180px;
}
.excel .power .power-head .power-head-sel .place .sel-val{
    width: 132px;
}
.excel .power .power-head .power-head-sel .moon{
    width:90px;
}
.excel .power .power-head .power-head-sel .sel-box span{
    display: inline-block;height: 100%;float: left;
}
.excel .power .power-head .power-head-sel .sel-box span.sel-val{
    margin-top:0;line-height: 30px;
    padding:0 9px;font-size: 18px;font-family: 微软雅黑;
}

.excel .power .power-head .power-head-sel .moon span.sel-val{
    width:60px;padding:0;text-indent: 10px;
}
.excel .power .power-head .power-head-sel .sel-box span.sel-btn{
    margin-top:0;width: 30px;cursor: pointer;
}
.excel .power .power-head .power-head-sel .sel-box span.sel-btn .sel-btn-icon{
    width: 100%;height: 100%;
    background: url("../img/sel-btn.png") no-repeat;
}
.excel .power .power-head .power-head-sel .sel-box .sel-option{
    border:1px solid #999;margin-top:30px;list-style: none;height:180px;overflow-y: auto;
    background: #fff;font-size: 18px;font-family: 微软雅黑;line-height: 30px;
    display: none;padding:0;
}
.excel .power .power-head .power-head-sel .sel-box .sel-option li{
    text-indent: 10px;
    cursor: pointer;
}
.excel .power .power-head .power-head-sel .sel-box .sel-option li:hover{
    background: #DADADA;
}
.power .power-con{
    border:1px solid #1A8AD8;
    background: #fff;
}
.power-con .con-center,.con-right,.con-left{
    float:left;width: 33.333%;height: 260px;
}
.power-con .con-center{  margin-left:-1px; border-left:1px solid #1A8AD8;border-right: 1px solid #1A8AD8;}
.power-con .con-right{  margin-left:-1px; }

.echarts-tooltip{height: 60px;}

.power .setx .con-left,.setx .con-center,.setx .con-right{
    width: 100%;
}