@charset "utf-8";
*{margin:0; padding:0; }
body{font-family: Microsoft YaHei;margin: 0;padding: 0;min-width: 900px;min-height: 500px; overflow: auto;}
a{color:#000000;text-decoration:none;outline: none;}
img{border:0;}
.top,.container{width: 100%;min-width: 900px;}
.top{position: fixed;z-index: 9999;height: 66px;line-height:66px;background: #ddd;background: url("../img/top.png");clear: both;}
.logo{width:21px; height: 28px;background: url("../img/logo.png");float: left;margin: 19px 8px 0 30px;}
.title{float: left;font-size: 30px;color: #fff;  font-weight: bold;letter-spacing: 1px;line-height: 60px;}
.user_msg{ float: right;width: 300px;height: 66px;position: relative;}
.user_icon{position: absolute;height: 45px;width: 45px;right:50px;top:10px;cursor: pointer;background: url("../img/user_icon.png");border: 1px solid #188bdb}
.user_icon:hover{border: 1px solid #f27935;}
.triangle{position: absolute;right:13px;top:30px;width: 0;height: 0;font-size: 0;border-bottom: 0 none; border-top: 5px solid #fff; border-left: 5px solid transparent; border-right: 5px solid transparent; cursor: pointer;}
.userName{position: absolute;font-size: 13px;right: 130px;color:#fff;cursor: pointer;background: none;border: none;outline: none;  padding: 0 30px; }
.userName:hover{color: #fff;background: #f27935;}
.container{position: relative;top:66px;}
.sidebar{height:400px;background: #2786c8;position: fixed;left: 0;z-index: 99998;top:66px;color: #ffffff;overflow-y: auto;min-height: 400px;}
.wrap{background: #d2d1d1;width: 100%;height: 10px;}
.menu{height:50px; line-height:50px;cursor: pointer;font-size:18px; position:relative;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.zy_icon{background: url(../img/zy_icon.png) no-repeat 25px 12px;}
.menu a{color: #fff;text-indent: 60px;display: block;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.menu a:hover {color: #fff;}
.menu:hover{background: #f27935;color: #fff;}
.submenu{display: none;cursor:pointer; font-size:14px; position: relative;text-indent:60px;}
.submenu ul{margin:0;padding:0;}
.submenu li{height:45px; line-height:45px; list-style:none;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.submenu li:hover{background: #f27935;color: #fff;}
.submenu li a{  width: 100%;height: 100%;display: block;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.submenu li a:hover{color: #fff;}
.submenu li img{vertical-align: middle;margin-right: 8px;}
.sub_icon{position: absolute;width: 100%;  height: 100%;  line-height: 50px;}
.sjcj{background:url(../img/sjcj_icon.png) no-repeat 25px 15px;}
.fxyp{background:url(../img/fxyp_icon.png) no-repeat 25px 15px;}
.yjbj{background:url(../img/bjyj_icon.png) no-repeat 25px 11px;}
.main{position: relative;min-height:400px;min-width: 1100px;}
.main_box{width:550px;height:347px;position:absolute;top:50%;left:50%;margin-left:-250px;margin-top:-175px;}
.main_box img{width: 100%;height: 100%; border: none;}
.main_icon{width: 100%;height: 100%;}
.bg_main{width: 100%;height:100%;border: none;min-height: 550px;}
.navbg{background: #fafafa;color: #000;}
.hover{cursor: pointer;color: #fff}
.sub_tr{position: absolute;top:-8px; left:32px;width: 0;height: 0;font-size: 0;border-top: 0 none; border-bottom: 8px solid #fff; border-left: 4px solid transparent; border-right: 4px solid transparent; cursor: pointer;}
.left{padding-top: 15px;}
/*黑*/
.submenu .users_cj{background: url("../img/user_cj.png") no-repeat  38px 15px;}
.submenu .w_cj{background: url("../img/w_cj.png") no-repeat 38px 15px;}
.submenu .d_cj{background: url("../img/d_cj.png") no-repeat  38px 15px;}
.submenu .q_cj{background: url("../img/q_cj.png") no-repeat  38px 15px;}
.submenu .hl_cj{background: url("../img/hl_cj.png") no-repeat  38px 15px;}
.submenu .f_d{background: url("../img/f_d.png") no-repeat  38px 14px;}
.submenu .f_l{background: url("../img/f_l.png") no-repeat  38px 15px;}
.submenu .y_j{background: url("../img/y_j.png") no-repeat  38px 14px;}
.submenu .b_j{background: url("../img/b_j.png") no-repeat  38px 14px;}
.submenu .zy{background: url("../img/z_y.png") no-repeat  38px 14px;}
/*白*/
.submenu .users_cj:hover,.submenu .users_cj.cur{background: url("../img/user_cj_w.png") no-repeat 38px 15px;}
.submenu .w_cj:hover,.submenu .w_cj.cur{background: url("../img/w_cj_w.png") no-repeat 38px 15px;}
.submenu .d_cj:hover,.submenu .d_cj.cur{background: url("../img/d_cj_w.png") no-repeat 38px 15px;}
.submenu .q_cj:hover,.submenu .q_cj.cur{background: url("../img/q_cj_w.png") no-repeat 38px 15px;}
.submenu .hl_cj:hover,.submenu .hl_cj.cur{background: url("../img/hl_cj_w.png") no-repeat 38px 15px;}
.submenu .f_d:hover,.submenu .f_d.cur{background: url("../img/f_d_w.png") no-repeat 38px 14px;}
.submenu .f_l:hover,.submenu .f_l.cur{background: url("../img/f_l_w.png") no-repeat 38px 13px;}
.submenu .y_j:hover,.submenu .y_j.cur{background: url("../img/y_j_w.png") no-repeat 38px 14px;}
.submenu .b_j:hover,.submenu .b_j.cur{background: url("../img/b_j_w.png") no-repeat 38px 14px;}
.submenu .zy:hover,.submenu .zy.cur{background: url("../img/z_y_w.png") no-repeat 38px 14px;}
/*红*/
.submenu .users_cj.cur{background: url("../img/users_cj.png") no-repeat 38px 15px;;}
.submenu .w_cj.cur{background: url("../img/ws_cj.png") no-repeat 38px 15px;;}
.submenu .d_cj.cur{background: url("../img/ds_cj.png") no-repeat 38px 15px;;}
.submenu .q_cj.cur{background: url("../img/qs_cj.png") no-repeat 38px 15px;;}
.submenu .hl_cj.cur{background: url("../img/hls_cj.png") no-repeat 38px 15px;;}
.submenu .f_d.cur{background: url("../img/fs_d.png") no-repeat 38px 14px;;}
.submenu .f_l.cur{background: url("../img/fs_l.png") no-repeat 38px 13px;;}
.submenu .y_j.cur{background: url("../img/ys_j.png") no-repeat 38px 13px;;}
.submenu .b_j.cur{background: url("../img/bs_j.png") no-repeat 38px 14px;;}
.submenu .zy.cur{background: url("../img/zs_y.png") no-repeat 38px 14px;;}

.main{padding: 15px;}
.panel-default {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #2786c8;
    /*border-radius: 4px;*/
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    margin-bottom: 15px;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #2786c8;
    border-color: #2786c8;
    color: #ffffff;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    /*border-top-left-radius: 3px;*/
    /*border-top-right-radius: 3px;*/
    z-index: 5;
}
.panel-body {
    height: 350px;
    width: 100%;
}
.panel-bar{height: 1200px;}
.chart{float: left;width: 33.2%;height: 350px;}
/*.p_title{}*/
.rt{float: right}
.panel-default .p_sel{width:100px;height: 22px;}
.chart_m{border-right: 1px solid #2786c8;border-left: 1px solid #2786c8;z-index: 99999;}
.chart_bar{width: 100%;height: 400px;}